
<ion-view view-title="Laporan">
    <ion-content>
        <div class="im-wrapper">
            <!-- Ionic Components -->
            <h4 class="border-top"><i class="icon ion-ios-list-outline"></i> Detail Lele</h4>
            <div class="list">
                <div class="item">
                    <label>Waktu
                        <span class="item-note">{{detail.waktu}}</span>
                    </label>
                </div>
                <div class="item">
                    <label>Jenis Kelamin
                        <span class="item-note">{{detail.jenisKelamin}}</span>
                    </label>
                </div>
                <div class="item">
                    <label>Usia
                        <span class="item-note">{{detail.usia}}</span>
                    </label>
                </div>
                <div class="item">
                    <label>Berat
                        <span class="item-note">{{detail.berat}}</span>
                    </label>
                </div>
                <div class="item">
                    <label>Panjang
                        <span class="item-note">{{detail.panjang}}</span>
                    </label>
                </div>
                <div class="item">
                    <label>COG
                        <span class="item-note">{{detail.cog}}</span>
                    </label>
                </div>
                <div class="item">
                    <label>Hasil Cek
                        <span class="item-note">{{detail.hasilCek}}</span>
                    </label>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
